<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>page 4</title>
    <style>
      body{
        background-color: rgb(189, 26, 26);
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;font-family: Arial, Helvetica, sans-serif;color: rgb(255,255,255);">error 404 not found<br>{{user}}<br> You are not eligible to join our Gang</h1>
  </body>

</html>
