<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/style.css') }}"/>

</head>
<body>
	<div class="login-page">
  <div class="form">
    <form class="register-form" action="/signup" method="POST">
      <input type="text" placeholder="name" name="username"/>
      <input type="password" placeholder="password" name="pwd"/>
      <input type="text" placeholder="password2" name="pwdc"/>
      <button>create</button>
      <p class="message">Already registered? <a href="login.html">Sign In</a></p>
    </form>
  </div>
</div>

</body>
</html>